In [16]:
#1.列出1加到100的總和過程
for i in range(1,101):
    total = 0
    for j in range(1, i+1):
        total = total + j
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [6]:
#2.列出1乘到10的階乘表

for i in range(1, 11):
    total = 1
    for j in range(1,i+1):
        total = total * j
    print(i,'!=',total)

1 != 1
2 != 2
3 != 6
4 != 24
5 != 120
6 != 720
7 != 5040
8 != 40320
9 != 362880
10 != 3628800

In [4]:
#3.由於期末成績慘不忍睹，老師決定將每個人的原始成績開根號乘以10當作加分，請用程式列出從1～100分數對照表.步驟如下 
import numpy as np
#步驟一
score = np.arange(1,101)
score
#步驟二
score_ad = np.sqrt(score) * 10
score_ad

array([ 10.        ,  14.14213562,  17.32050808,  20.        ,
        22.36067977,  24.49489743,  26.45751311,  28.28427125,
        30.        ,  31.6227766 ,  33.1662479 ,  34.64101615,
        36.05551275,  37.41657387,  38.72983346,  40.        ,
        41.23105626,  42.42640687,  43.58898944,  44.72135955,
        45.82575695,  46.9041576 ,  47.95831523,  48.98979486,
        50.        ,  50.99019514,  51.96152423,  52.91502622,
        53.85164807,  54.77225575,  55.67764363,  56.56854249,
        57.44562647,  58.30951895,  59.16079783,  60.        ,
        60.8276253 ,  61.64414003,  62.44997998,  63.2455532 ,
        64.03124237,  64.80740698,  65.57438524,  66.33249581,
        67.08203932,  67.82329983,  68.556546  ,  69.2820323 ,
        70.        ,  70.71067812,  71.41428429,  72.11102551,
        72.80109889,  73.48469228,  74.16198487,  74.83314774,
        75.49834435,  76.15773106,  76.81145748,  77.45966692,
        78.10249676,  78.74007874,  79.37253933,  80.        ,
        80.62257748,  81.24038405,  81.85352772,  82.46211251,
        83.06623863,  83.66600265,  84.26149773,  84.85281374,
        85.44003745,  86.02325267,  86.60254038,  87.17797887,
        87.74964387,  88.31760866,  88.88194417,  89.4427191 ,
        90.        ,  90.55385138,  91.10433579,  91.6515139 ,
        92.19544457,  92.73618495,  93.27379053,  93.8083152 ,
        94.33981132,  94.86832981,  95.39392014,  95.91663047,
        96.43650761,  96.95359715,  97.46794345,  97.97958971,
        98.48857802,  98.99494937,  99.49874371, 100.        ])

In [45]:
#4.一年級新生有200名，分別編予711001、711002……711200的學號，現在請用程式列出學號一覽表
import pandas as pd
import numpy as np
number = np.arange(711001,711201)
student = np.arange(1,201)
#列舉學號
df1 = pd.DataFrame(number,columns=['學號'])
#列舉座號
df2 = pd.DataFrame(student,columns=['座號'])
#合併學號與座號
df3 = pd.concat([df1,df2], axis = 1)
df3

         學號   座號
0    711001    1
1    711002    2
2    711003    3
3    711004    4
4    711005    5
5    711006    6
6    711007    7
7    711008    8
8    711009    9
9    711010   10
10   711011   11
11   711012   12
12   711013   13
13   711014   14
14   711015   15
15   711016   16
16   711017   17
17   711018   18
18   711019   19
19   711020   20
20   711021   21
21   711022   22
22   711023   23
23   711024   24
24   711025   25
25   711026   26
26   711027   27
27   711028   28
28   711029   29
29   711030   30
..      ...  ...
170  711171  171
171  711172  172
172  711173  173
173  711174  174
174  711175  175
175  711176  176
176  711177  177
177  711178  178
178  711179  179
179  711180  180
180  711181  181
181  711182  182
182  711183  183
183  711184  184
184  711185  185
185  711186  186
186  711187  187
187  711188  188
188  711189  189
189  711190  190
190  711191  191
191  711192  192
192  711193  193
193  711194  194
194  711195  195
195  711196  196
196  711197  197
197  711198  198
198  711199  199
199  711200  200

[200 rows x 2 columns]

In [48]:
#5.如果資管系一年級新生有50名，學號從81016編起，現在請用程式列出學號一覽表
import numpy as np
import pandas as pd
number = np.arange(81016, 81066)
student = np.arange(1, 51)
df1 = pd.DataFrame(number, columns = ['學號'])
df2 = pd.DataFrame(student, columns = ['座號'])
df3 = pd.concat([df1,df2], axis = 1)
df3

       學號  座號
0   81016   1
1   81017   2
2   81018   3
3   81019   4
4   81020   5
5   81021   6
6   81022   7
7   81023   8
8   81024   9
9   81025  10
10  81026  11
11  81027  12
12  81028  13
13  81029  14
14  81030  15
15  81031  16
16  81032  17
17  81033  18
18  81034  19
19  81035  20
20  81036  21
21  81037  22
22  81038  23
23  81039  24
24  81040  25
25  81041  26
26  81042  27
27  81043  28
28  81044  29
29  81045  30
30  81046  31
31  81047  32
32  81048  33
33  81049  34
34  81050  35
35  81051  36
36  81052  37
37  81053  38
38  81054  39
39  81055  40
40  81056  41
41  81057  42
42  81058  43
43  81059  44
44  81060  45
45  81061  46
46  81062  47
47  81063  48
48  81064  49
49  81065  50

In [6]:
#6.在for迴圈裡加入if條件判斷, 找500以內所有不能被3整除的數,將之加總.
total = 0
for i in range(1,501):
    if i %3 != 0:
        total = total + i 
print(total)

83667

In [8]:
#7請寫一個程式,可以得到下列類似三角形數列的結果.
for i in range(1,11):
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [5]:
#8.請建構一個1x10每一格都為0的矩陣A. 矩陣A每一格的編號為X,(X=1,2,…,10).
#每一格的數值以公式Y=X2+2X+3所計算出的新值Y來取代.請以for 迴圈完成此題.
import numpy as np
x = np.zeros((1,10), dtype = int)
for y in x:
    y = x*x+2*x+3
print(y)

[[3 3 3 3 3 3 3 3 3 3]]

In [4]:
#9.請建構一個10x1每一格都為1的矩陣B. 矩陣B每一格的編號為X,(X=1,2,…,10). 
#每一格的數值以公式Y=X2+3X+5的新值Y來取代.請以for 迴圈完成此題.
import numpy as np
x = np.ones((10,1), dtype = int)
for y in x :
    y = x*x+3*x+5
print(y)

[[9]
 [9]
 [9]
 [9]
 [9]
 [9]
 [9]
 [9]
 [9]
 [9]]

In [3]:
#10.請建構一個10x1每一格都為1的矩陣C. 請以for迴圈的方法和矩陣位置的關係
#(亦即C(1,1), C(2,2), C(3,3), … , C(6,6) )在對角線的格子裡以新值取代
import numpy as np
matrix = np.eye(10, k=0, dtype = int)
a = matrix+1
for n in range(0,11):
    for m in range(0, n+1):
        if n == m:
            a.itemset((n-1, m-1), n*m)
a

array([[  1,   1,   1,   1,   1,   1,   1,   1,   1,   1],
       [  1,   4,   1,   1,   1,   1,   1,   1,   1,   1],
       [  1,   1,   9,   1,   1,   1,   1,   1,   1,   1],
       [  1,   1,   1,  16,   1,   1,   1,   1,   1,   1],
       [  1,   1,   1,   1,  25,   1,   1,   1,   1,   1],
       [  1,   1,   1,   1,   1,  36,   1,   1,   1,   1],
       [  1,   1,   1,   1,   1,   1,  49,   1,   1,   1],
       [  1,   1,   1,   1,   1,   1,   1,  64,   1,   1],
       [  1,   1,   1,   1,   1,   1,   1,   1,  81,   1],
       [  1,   1,   1,   1,   1,   1,   1,   1,   1, 100]])

In [ ]:
#第10題，運用matrix[i,j]的方式寫（迴圈運用）